<h1>Create a new figure</h1>
<form method="post" action="/figures">
  <label>Name: <input type="text" name="figure[name]" /></label>
  <input type="submit" value="Submit new figure" id="submit" />
</form>
