<h1>Figure information:</h1>
<h1><%= @figure.name %></h1>
<br>


<h2>Landmarks</h2>
<%@landmarks.each do |el|%>
  <%if el.figure_id == @figure.id%>
    <%=el.name%></br>
  <%end%>
<%end%>

<h2>Titles</h2>
<%@titles.each do |el|%>
    <%=el.name%></br>
<%end%>



<h2>Delete this figure:</h2>
<form method="post" action="/figures/<%= @figure.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete this figure" />
</form>
