<h1>Edit a title!</h1>

<form method="post" action="/titles/<%=@title.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="title[name]" value="<%=@title.name%>"/>
  <input type="submit" value="change"/>
</form>
